<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="teknoxera.bisawicara">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoblue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoblue"
        android:supportsRtl="true"
        android:theme="@style/Theme.BisaWicara"
        tools:ignore="AllowBackup">
        
        <provider
            android:authorities="teknoxera.bisawicara.file_provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
        <activity
            android:name=".activity.CameraActivity"
            android:parentActivityName=".activity.TestSkillActivity"/>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/Theme.BisaWicara.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaporBugActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.TestSkillActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.KamusActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.BisaWicara.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>